---
title: home
page: home
header: {
  marquee: true
}
sectionGallery: {
  img: true
}
sectionContacts: {
  img: true
}
---
{% extends "layouts/_layout.html" %}
{% block content %}
  {%set
  hero = {
    img: true,
    slider: true,
    bg: 'hero-home-01.jpg',
    title: 'Сердце <em class="yellow">грузинской</em> кухни в Киеве',
    subttl: 'Лучшая грузинская кухня в Киеве, главной приправой которой является
            наша любовь. Приходите к нам в ресторан или закажите кусочек
            настоящей грузинской заботы прямо к себе в дом!',
    btns: [
      { title: 'Заказать доставку' },
      { title: 'Хочу к вам в ресторан', mod: 'btn--transp btn--white-dark' }
    ],
    text: mixins.icon('delivery-truck') + 'Бесплатная доставка при заказе <strong>от 1000 грн!</strong> (с 10:00 до 22:00)'
  }
  %}
  
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-hits.html" %}
  {% include "partials/sections/_s-vine.html" %}
  {% include "partials/sections/_s-about.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-features-item.html" %}
  {% include "partials/sections/_s-delivery.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-contacts.html" %}  
{% endblock %}


