$fz:    16px
$fz-sm: 14px
$fz-xs: 12px

$accent: #c21111

$black: #000
$black-light: #191919

$c-text: #8b8b8b
$c-border: #ebebeb

$white: #fff
$white-dark: #e3e3e3

$gray: #696969
$gray-light: #a0a0a0
$gray-dark: #242323
// $gray-dark-100: #4f4f4f

$yellow: #f3b652