{%set
items = [
  {
    title: 'шашлык из курицы <small>(100 г)</small>',
    price: '190<small>грн</small>',
    amount: '2 x 95 грн'
  },
  {
    title: 'форель на мангале<small>(100 г)</small>',
    price: '475<small>грн</small>',
    amount: '5 x 95 грн'
  },
  {
    title: 'шашлык из свинины<small>(100 г)</small>',
    price: '285<small>грн</small>',
    amount: '3 x 95 грн'
  },
  {
    title: 'шашлык из курицы <small>(100 г)</small>',
    price: '190<small>грн</small>',
    amount: '2 x 95 грн'
  },
  {
    title: 'форель на мангале<small>(100 г)</small>',
    price: '475<small>грн</small>',
    amount: '5 x 95 грн'
  },
  {
    title: 'шашлык из свинины<small>(100 г)</small>',
    price: '285<small>грн</small>',
    amount: '3 x 95 грн'
  }
]
%}

<!-- begin tooltip -->
<div class="tooltip tooltip-cart">
  <div class="tooltip__inner">
    <div class="tooltip-cart__items scrollbar js-scrollbar">
      {% for i in items %}
      <!-- begin tooltip-cart-item -->
      <div class="tooltip-cart-item">
        <button class="tooltip-cart-item__close"></button>

        <div class="tooltip-cart-item__img">
          <img class="js-lazy" alt="" data-src="./img/items/sm-01.png"/>
        </div>

        <div class="tooltip-cart-item__middle">
          <div class="tooltip-cart-item__title">{{ i.title | safe }}</div>

          <div class="tooltip-cart-item__counter">
            <!-- begin counter -->
            <div class="counter counter--white">
              <div class="counter__inner">
                <button>-</button>
                <input type="text" value="1">
                <button>+</button>
              </div>
            </div>
            <!-- end counter -->
          </div>
        </div>

        <div class="tooltip-cart-item__price">
          <div class="price price--gray-dark">{{ i.price | safe }}</div>
          <div class="amount amount--gray">{{ i.amount | safe }}</div>
        </div>
      </div>
      <!-- end tooltip-cart-item -->
      {% endfor %}
    </div>

    <div class="tooltip-cart__bottom">
      <div class="tooltip-cart__btn border border--sm-dark">
        {{ mixins.btn(
          title = 'Перейти в корзину',
          mod = 'btn--full'
        ) }}
      </div>

      <div class="tooltip-cart__amount">
        <div>Итого:</div>
        <div class="price price--gray-dark price--lg">950 <small>грн</small></div>
      </div>
    </div>
  </div>
</div>
<!-- end tooltip -->