<!-- begin hero -->
<section class="hero">
  {% if hero.slider %}
  <!-- begin slider -->
  <div class="slider__wrap slider--hero__wrap">
    <div class="swiper-container js-slider" data-slider="hero">
      <div class="swiper-wrapper">
        {% for i in range(0, 3) %}
          <div class="swiper-slide">
            {% include "partials/_hero-inner.html" %}
          </div>
        {% endfor %}
      </div>

      <button class="slider__prev prev js-prev"></button>
      <button class="slider__next next js-next"></button>
      <div class="slider__pagination js-pagination"></div>
    </div>
  </div>
  <!-- end slider -->
  {% else %}
  {% include "partials/_hero-inner.html" %}
  {% endif %}
  

  {% if hero.img %}
    <div class="section-img js-parallax-scene is-bottom is-left js-anim-el" data-anim-name="bounceInUp">
      <img data-depth="0.1" data-src="./img/pngs/tomato.png" alt="" class="js-lazy">
    </div>
  {% endif %}
</section>
<!-- end hero -->