{%set
slider = {
  tabs: [
    {
      active: true,
      btn: 'Горячие блюда',
      tab: 'main_course',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    },
    {
      btn: 'Салаты',
      tab: 'salad',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    },
    {
      tab: 'appetizer',
      btn: 'Холодные закуски',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    },
    {
      tab: 'greel',
      btn: 'Мангал/Гриль',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    },
    {
      tab: 'soup',
      btn: 'Первые блюда',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    },
    {
      tab: 'bevarage',
      btn: 'Напитки',
      slider: [
        {
          label: { title: 'акция' },
          title: 'кебаб из курицы',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'шашлык из свинины',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        },
        {
          title: 'форель на мангале',
          price: '<div class="price">95.00<small>грн</small></div> (100 г)'
        }
      ]
    }    
  ]
}
%}

<!-- begin slider -->
<div class="slider__wrap slider--items__wrap slider--items-tabs__wrap js-tabs">
  <div class="slider__tabs-nav js-anim-el" data-anim-name="fadeInLeft" data-anim-delay="0.2s">
    <!-- begin slider-nav -->
    <div class="slider-nav">
      {% for i in slider.tabs %}
      <button class="slider-nav__btn js-tab{% if i.active %} is-active{% endif %}"
        data-target-tab="{{ i.tab }}">{{ i.btn }}</button>
      {% endfor %}
    </div>
    <!-- end slider-nav -->
  </div>


  <div class="slider__tabs-items js-anim-el" data-anim-name="fadeInLeft" data-anim-delay="0.4s">
    {% for i in slider.tabs %}
    <div class="slider__tabs-item js-tabs-item{% if i.active %} is-active{% endif %} " data-tab="{{ i.tab }}">
      <div class="slider__wrap">
        <div class="swiper-container js-slider" data-slider="items">
          <div class="swiper-wrapper">
            {% for j in i.slider %}
            <div class="swiper-slide">
              {{ mixins.item(
                price = j.price,
                title = j.title,
                img = 'lulya3.png',
                label = j.label
              ) }}              
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="slider__btns">
          <button class="slider__prev prev prev--gray js-prev"></button>
          <button class="slider__next next next--gray js-next"></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
<!-- end slider -->