{%set
  slider = {
    slider: [
      {
        title: 'Вино красное Batono (saperavi)',
        price: '<div class="price price--sm price--old price--red">2500<small>грн</small></div> <div class="price price--gray-dark">1150.00<small>грн</small></div> (0,75 л.)'
      },
      {
        title: 'Вино красное Alazani Valley',
        price: '<div class="price price--gray-dark">1150.00<small>грн</small></div> (0.75 л)'
      },
      {
        title: 'Вино белое Alazani Valley',
        price: '<div class="price price--gray-dark">1150.00<small>грн</small></div> (0.75 л)'
      },
      {
        title: 'Вино красное iveria (saperavi)',
        price: '<div class="price price--gray-dark">1150.00<small>грн</small></div> (0.75 л)'
      },
      {
        title: 'Вино белое Alazani Valley',
        price: '<div class="price price--gray-dark">1150.00<small>грн</small></div> (0.75 л)'
      }
    ]
  }
  %}

<!-- begin slider -->
<div class="slider__wrap slider--items__wrap js-tabs">
  <div class="swiper-container js-slider" data-slider="items">
    <div class="swiper-wrapper">
      {% for i in slider.slider %}
      <div class="swiper-slide">
        {{ mixins.item(
          mod = 'item--white',
          price = i.price,
          title = i.title,
          counter = { mod: 'counter--white' },
          img = 'vine.png',
          label = { mod: 'item__label-age', title: '18+'},
          border = { mod: 'border--sm-dark'},
          form = true
        ) }}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="slider__btns">
    <button class="slider__prev prev prev--white js-prev"></button>
    <button class="slider__next next next--white js-next"></button>
  </div>

</div>
<!-- end slider -->