{% if popup.event %}
{%set
  popup = {
    name: 'event',
    closeBtn: true,
    mod: 'popup--noisy-white popup--md is-active'
  }
%}
{% else %}
{%set
  popup = {
    name: 'event',
    closeBtn: true,
    mod: 'popup--noisy-white popup--md'
  }
%}
{% endif %}



{%set
fields = [
  {
    name: '',
    type: 'text',
    mod: '',
    placeholder: 'Введите ваше имя',
    fieldClass: ''
  },
  {
    name: '',
    type: 'tel',
    mod: '',
    placeholder: 'Введите ваш телефон',
    fieldClass: ''
  },
  {
    name: '',
    type: 'number',
    mod: '',
    placeholder: 'Введите количество гостей',
    fieldClass: ''
  },
  {
    name: '',
    type: 'text',
    mod: '',
    placeholder: 'Введите дату и время',
    fieldClass: 'js-picker'
  }
]
%}

{%set
radios = [
  { label: 'Строителей, 34/1', fieldAttributes: { name: 'address', checked: '' } },
  { label: 'Броварской проспект 3A', fieldAttributes: { name: 'address' } },
  { label: 'Княжной Затон, 4', fieldAttributes: { name: 'address' } }
]
%}

{% extends "layouts/_popup.html" %}

{% block popup %}
  <div class="popup__title-xs">
    <div class="title title--h3">Заказать <em class="accent">столик</em></div>    
  </div>

  <div class="popup__subttl">Оставьте ваши контактные данные, выберите ресторан
и укажите дату и время вашего визита</div>

  <div class="popup__form">
    <!-- begin form -->
    <div class="form">
      <form>
        <div class="form__inner">
          <div class="form__row">
            {% for i in fields %}
            <div class="form__col">
              {{ mixins.input(
                name = 'input',
                mod = i.mod,
                type = i.type,
                placeholder = i.placeholder,
                value = '',
                fieldClass = i.fieldClass   ,
                fieldAtttributes = i.fieldAttributes             
              ) }}
            </div>
            {% endfor %}
          </div>

          <div class="form__field form__field-mb-md">
            <div class="title title--semi title--h5 title--ttu">Выберите ресторан:</div>
          </div>

          <div class="form__radios form__field-mb-md">
            {% for i in radios %}
            {{ mixins.input(
              name = 'radio',
              mod = 'radio--text',
              type = 'radio',
              placeholder = '',
              value = '',
              fieldClass = '',
              fieldAttributes = i.fieldAttributes,
              label = { span: true, last: i.label }
            ) }}
            {% endfor %}
          </div>

          <div class="form__btn">
            <div class="border border--sm-dark">
              {{ mixins.btn(
                title = 'Заказать столик',
                mod = '',
                href = false
              ) }}
            </div>
            
          </div>
        </div>
      </form>
    </div>
    <!-- end form -->
  </div>
{% endblock %}