{%set
popup = {
  name: 'order',
  mod: 'popup--sm popup--noisy-white'
}
%}

{% extends "layouts/_popup.html" %}

{% block popup %}
<div class="popup__title-xs">
  <h3 class="title title--h3">Оставьте <em class="accent">заявку</em></h3>
</div>

<div class="popup__subttl-sm">Оставьте ваши контактные данные 
и наш менеджер свяжется с вами</div>

<div class="popup__form">
  <!-- begin form -->
  <div class="form">
    <form>
      <div class="form__inner">
        <div class="form__field">
          {{ mixins.input(
            name = 'input',
            mod = '',
            type = 'text',
            placeholder = 'Введите ваше имя',
            value = '',
            fieldClass = ''
          ) }}
        </div>

        <div class="form__field">
          {{ mixins.input(
            name = 'input',
            mod = '',
            type = 'tel',
            placeholder = 'Введите ваш телефон',
            value = '',
            fieldClass = ''
          ) }}
        </div>

        <div class="form__btn">
          <div class="border border--sm-dark">
            {{ mixins.btn(
              title = 'Оставить заявку',
              mod = 'btn--full',
              href = false
            ) }}
          </div>
        </div>

        <div class="form__checkbox">
          {{ mixins.input(
            name = 'checkbox',
            mod = 'checkbox--gray checkbox--sm',
            type = 'checkbox',
            placeholder = '',
            value = '',
            fieldClass = '',
            label = { last: 'Я ознакомился с <a href="#">политикой конфиденциальности</a>', span: true },
            fieldAttributes = { checked: '' }
          ) }}
        </div>
      </div>
    </form>
  </div>
  <!-- end form -->
</div>
{% endblock %}