<!-- begin section -->
<section class="section s-about pb-md overflow-hidden">
  <div class="container">
    <div class="section__title section-title js-anim-el" data-anim-name="fadeInLeft">
      <div class="section-title__title">
        <div class="title">Хотите узнать о древней
            истории <span class="accent">Квеври?</span></div>
      </div>

      <div class="section-title__text">
          Квеври - это древнейший вид глиняной посуды для изготовления вина,<br>
          до XX века считался единственной винодельческой <br>
          посудой в Грузии
      </div>
    </div>

    <!-- begin about -->
    <div class="about about--compl">
      <!-- begin about-block -->
      <div class="about-block">
          <div class="about-block__img js-lazy" data-background-image="./img/about/01.jpg"></div>

          <div class="about-block__text js-anim-el" data-anim-name="fadeInLeft">
            <h3 class="title title--h3">История <span class="accent">Квеври</span></h3>

            <p>Первые Квеври обнаружили еще 5-6 тыс. лет до н.э. 
                Это небольшие глиняные сосуды , имеющие высоту не более 1,5 метра, 
                плоское дно и широкий живот. Известным местом изготовления 
                квеври является деревня Вардисубани в Восточной Грузии.</p>
                <p>Особую известность в производстве Квеври занимает Кахетия, где
                    можно встретить посудины до 6-8 тысяч литров.</p>
          </div>

          <div class="about-block__img-right">
            <img data-src="./img/pngs/jug-02.png" alt="" class="js-lazy">
          </div>
      </div>
      <!-- end about-block -->

      <!-- begin about-block -->
      <div class="about-block">
          <div class="about-block__text js-anim-el" data-anim-name="fadeInLeftCenter">
            <h3 class="title title--h3">Метод приготовления</h3>

            <p>Квеври закапывают в землю по самую горловину и закладывают в него виноград, 
                часто — вместе с гребнями виноградных гроздей. Во время активного брожения, 
                под действием углекислого газа шапка мезги поднимается к горловине кувшина, 
                а когда брожение завершается, и газ выходит наружу, она оседает на дно, и квеври 
                запечатывают до весны. </p>
            <p>Так в помещениях, где хранятся квеври с вином марани, вино вызревает
                и настаивается на мезге несколько месяцев. Весной кувшины вскрывают, 
                вино снимают с осадка и начинают пить. </p>
          </div>

          <div class="about-block__img js-lazy" data-background-image="./img/about/02.jpg"></div>

      </div>
      <!-- end about-block -->

      <!-- begin about-block -->
      <div class="about-block js-lazy" data-background-image="./img/bg-section/bg-about.png">
        <div class="about-block__img js-lazy" data-background-image="./img/pngs/bottle.png"></div>

        <div class="about-block__quote-fu quote-fu js-anim-el" data-anim-name="fadeInLeft">
            Настоящее вино Квеври не содержит в себе каких-либо консервантов, благодаря
            методу приготовления они просто не нужны.
            {{ mixins.icon('two-quotes') }}
        </div>
      </div>
      <!-- end about-block -->

      <!-- begin about-block -->
      <div class="about-block about-block--quote">
        <div class="about-block__quote quote js-anim-el" data-anim-name="fadeInLeftCenter">
          <p>В 1600 году один из зарубежных путешественников, посетивших Грузию писал:
              “Нет такой второй страны, где пьют лучшее вино. Крестьяне выдалбливают
              из толстого дерева середину и используют его как корыто, где давят виноград.
              Виноградным соком они заполняют большие глиняные сосуды и закапывают
              их в погребах.</p>

          <p>Путешественник думал, что грузинские виноделы скрывали свои драгоценные
              напитки таким образом от врагов</p>
        </div>

        <div class="about-block__img js-lazy" data-background-image="./img/about/03.jpg"></div>
      </div>
      <!-- end about-block -->
    </div>
    <!-- end about -->
  </div>
</section>
<!-- end section -->