<!-- begin section -->
<section class="section pt-sml pb-md">
  <div class="container">
    <div class="section__title section__title-mb-sm section-title js-anim-el" data-anim-name="fadeInLeft">
      <div class="section-title__title">
        <h2 class="title">Каждый получил <br>
<span class="accent">огромное удовольствие</span></h2>
      </div>

      <div class="section-title__text">Каждый слышал о легендарных грузинских застольях,<br>
атмофсферу которых вы сможете ощутить <br>
в нашем ресторане</div>
    </div>

    <!-- begin about -->
    <div class="about">
      <!-- begin about-block -->
      <div class="about-block about-block--simple">
        <div class="about-block__img js-lazy" data-background-image="./img/events/02.jpg"></div>

        <div class="about-block__text js-anim-el" data-anim-name="fadeInLeft">
          <p>После приготовлений наступает этот день, и он должен быть совершенен. Вы встаете рано, так как это было довольно сложно выспаться из-за нервов. Все ваши родственники улыбаются и разделяют ваше счастье. Через несколько часов вы выглядите самой роскошный в вашей жизни и все ваши усилия того стоили. Вскоре вы услышите звук, что кто-то пришел и этот человек сделает вас самой счастливой женщиной в мире. Он целует тебя, дарит тебе цветы и восхищается вашей несравненной красоты.</p>
          <p>Он доставит вас к месту регистрации брака или религиозной службы, и в течение нескольких минут Вы обменяетесь клятвами вашей идеальной жизни в браке. Первый поцелуй в браке, первый танец, красивые фотографии.</p>
        </div>
      </div>
      <!-- end about-block -->

      <!-- begin about-block -->
      <div class="about-block about-block--quote">
        <div class="about-block__quote quote js-anim-el" data-anim-name="fadeInLeftCenter">
          <p>В 1600 году один из зарубежных путешественников, посетивших Грузию писал:
              “Нет такой второй страны, где пьют лучшее вино. Крестьяне выдалбливают
              из толстого дерева середину и используют его как корыто, где давят виноград.
              Виноградным соком они заполняют большие глиняные сосуды и закапывают
              их в погребах.</p>

          <p>Путешественник думал, что грузинские виноделы скрывали свои драгоценные
              напитки таким образом от врагов</p>
        </div>

        <div class="about-block__img js-lazy" data-background-image="./img/events/03.jpg"></div>
      </div>
      <!-- end about-block -->

      <!-- begin about-block -->
      <div class="about-block about-block--simple">
        <div class="about-block__text js-anim-el" data-anim-name="fadeInLeft">
          <p>После приготовлений наступает этот день, и он должен быть совершенен. Вы встаете рано, так как это было довольно сложно выспаться из-за нервов. Все ваши родственники улыбаются и разделяют ваше счастье. Через несколько часов вы выглядите самой роскошный в вашей жизни и все ваши усилия того стоили. Вскоре вы услышите звук, что кто-то пришел и этот человек сделает вас самой счастливой женщиной в мире. Он целует тебя, дарит тебе цветы и восхищается вашей несравненной красоты. </p>
          <p>Он доставит вас к месту регистрации брака или религиозной службы, и в течение нескольких минут Вы обменяетесь клятвами вашей идеальной жизни в браке. Первый поцелуй в браке, первый танец, красивые фотографии и эмоции останутся в вашей памяти навсегда и это единственный день в вашей жизни, когда вы звезда вечеринки. ервый танец, красивые фотографии.</p>
        </div>

        <div class="about-block__img js-lazy" data-background-image="./img/events/02.jpg"></div>
      </div>
      <!-- end about-block -->
    </div>
    <!-- end about -->
  </div>
</section>
<!-- end section -->