<!-- begin section -->
<section class="section s-gallery overflow-hidden bg-cover bg-center-center js-lazy" data-background-image="./img/bg-section/bg-gallery.jpg">
  {% if sectionGallery.img %}
  <div class="section-img is-right is-top js-anim-el js-parallax-scene" data-anim-name="rotateInRight">
    <img data-depth="0.1" data-src="./img/pngs/spice-03.png" alt="" class="js-lazy">
  </div>
  {% endif %}
  
  <div class="container">
    <div class="section__title js-anim-el" data-anim-name="fadeInLeft">
      <h2 class="title title--white">Посмотрите на нашу фотогалерею</h2>

      <div class="section__subttl">Мы очень гордимся своей сетью ресторанов и показываем
          самые лучшие моменты в нашей галерее</div>
    </div>
  </div>

  <!-- begin slider -->
  <div class="slider__wrap slider--gallery__wrap js-anim-el" data-anim-name="fadeInLeft">
    <div class="swiper-container js-slider" data-slider="gallery">
      <div class="swiper-wrapper js-lightgallery">
        {% for i in range(0, 10) %}
            <!-- begin gallery-slide -->
            <a
              href="./img/gallery/01.jpg"
              class="swiper-slide gallery-slide js-lazy"
              data-exthumbimage="./img/gallery/01.jpg"
              data-background-image="./img/gallery/01.jpg"></a>
            <!-- end gallery-slide -->
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- end slider -->
</section>
<!-- end section -->