<!-- begin section -->
<section class="section section--noisy-white section--download pt-md pb-md">
  <div class="container">
    <div class="section--download__inner">
      <div class="section--download__content">
        <div class="section--download__title section__tilte">
          <h2 class="title">Скачивайте наше <br> <em class="accent">полное меню</em>
          </h2>
        </div>

        <div class="section--download__subttl section__subttl">Меню отобразится в виде документа PDF одинаково удобно <br> как на компьютерах, так и на смартфонах. </div>

        <div class="section--download__btn section__btn">
          <div class="border border--sm-dark">
            {{ mixins.btn(
              title = 'Скачать меню',
              mod = ''
            ) }}
          </div>
        </div>
      </div>

      <div class="section--download__img">
        <img data-src="./img/menu/download.png" alt="" class="js-lazy">
      </div>
    </div>
  </div>
</section>
<!-- end section -->