<!-- begin section -->
<section class="section s-order-del pt-sml pb-md bg-cover bg-center-center js-lazy" data-background-image="./img/bg-section/bg-order-del.jpg">
  <div class="container">
    <div class="section__title section__title-mb section-title section-title--625 section-title--light js-anim-el" data-anim-name="fadeInLeft">
      <div class="section-title__title">
        <h2 class="title title--white">Забирайте <span class="accent">лично</span></h2>
      </div>

      <div class="section-title__text">
        <p>Хотите получить скидку 10% на наши блюда?</p>
        <p>Забирайте товар у нас в ресторанах лично</p>
      </div>
    </div>

    <div class="section__center js-anim-el" data-anim-name="fadeInLeft" data-anim-delay="0.2s">
      <div class="section__center-img">
        <img class="js-lazy" alt="" data-src="./img/bag.png"/>
      </div>
      <div class="section__center-content">
        <div class="section__center-btn border">
          {{ mixins.btn(
            title = 'Заказать доставку',
            mod = 'btn--full'
          ) }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->