<!-- begin section -->
<section class="section s-zone bg-cover pt-md pb-xl js-lazy" data-background-image="./img/bg-section/bg-zone.jpg">
  <div class="section__layer section__layer-bottom">
    <img data-src="./img/bg-layer.png" alt="" class="js-lazy">
  </div>

  <div class="container">
    <div class="section__title section__title-mb section-title js-anim-el" data-anim-name="fadeInLeft">
      <div class="section-title__title">
        <h2 class="title">У нас обширная <br> <em class="accent">зона доставки</em></h2>
      </div>

      <div class="section-title__text">Мы доставляем блюда грузинской кухни <br>
        практически по всем районам Киева. Ниже вы можете <br>
      убедиться, есть ли ваш район в списке:</div>
    </div>

    <div class="s-zone__block">
      <!-- begin zone-block -->
      <div class="zone-block js-lazy" data-background-image="./img/zone-map.jpg">
        <div class="zone-block__content">
          <div class="zone-block__title">Районы доставки:</div>

          <div class="zone-block__text">Дарница, Соцгородок, Русановка, Березняки, 
            район М. Левобережная, район М. Черниговская, 
            район М. Лесная, Харьковский массив (М Бориспольская,
          М. Вырлица, М. Харьковская, М. Позняки, М. Осокорки)</div>

          <div class="zone-block__btn border">
            {{ mixins.btn(
              title = 'Посмотреть все районы',
              mod = 'btn--transp btn--white-dark'
              ) }}
            </div>
          </div>
        </div>
        <!-- end zone-block -->
    </div>
  </div>
</section>
<!-- end section -->