.hero
  background-color: $black
  position: relative  
  .section-img
    z-index: 1
    opacity: 0
    +xl
      img
        max-width: 80%
    +lg
      display: none
  &__content
    max-width: 630px
  &__title, &__btns
    margin-bottom: 25px
    opacity: 0
    +md
      margin-bottom: 15px
  &__text
    margin-bottom: 50px
    opacity: 0
    max-width: 550px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 15px
  &__btns
    +flex
    +md
      display: block
  &__btn
    max-width: 295px
    width: 100%
    +notlast
      margin-right: 15px
      +md
        margin-right: 0
        margin-bottom: 10px
  &__del
    color: $white
    opacity: 0
    .icon
      font-size: 45px
      margin-right: 10px
      vertical-align: middle
  &__breadcrumbs
    @extend .main__breadcrumbs
    padding-bottom: 0


  .hero-inner
    +cover
    +lg
      .container
        position: relative
        z-index: 1
      +before
        +coverdiv
        background-color: rgba($black, .6)
        z-index: 0
    &__inner
      +flex(center, normal, column)
      padding-top: 10%
      padding-bottom: 20%
      +r(1600)
        padding-left: 45px
        padding-right: 45px
      +xs
        padding-left: 0
        padding-right: 0