.section
  position: relative
  +cover
  background-size: auto
  background-position: 0 100%
  +md
    background-size: 60%
  .container
    position: relative
    z-index: 1
  &__title
    text-align: center
    +lg
      margin-bottom: 30px
  &__title-left
    max-width: 515px
    margin-right: percentage(1/12)
  &__title-mb
    margin-bottom: 65px
    +xl
      margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
  &__title-mb-lg
    margin-bottom: 90px
    +xl
      margin-bottom: 70px
    +lg
      margin-bottom: 50px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 15px  
  &__title-mb-sm
    margin-bottom: 30px
  &__slider
    position: relative
    z-index: 1
  &__layer
    position: absolute
    z-index: 0
    left: 0
    right: 0
    top: 0
    // background-color: $white
    +flex(flex-end, normal, column)
    +before
      position: absolute
      z-index: -1
      background-color: $white
      left: 0
      right: 0
      top: 0
      bottom: 45px
  &__layer-bottom
    top: auto
    bottom: 0
    img
      transform: scaleY(-1)
    +before
      top: 30px
      bottom: 0
  &__center
    // max-width: 750px
    margin-left: auto
    margin-right: auto
    +flex(space-between)
    +xs
      display: block
      text-align: center
      img
        max-width: 50%
  &__center-content
    +flex(center, normal, column)
    width: 50%
    padding-left: 15px
    +xs
      width: auto
      padding-left: 0
  &__center-text
    margin-bottom: 15px
    max-width: 560px
  &__center-img
    width: 50%
    text-align: right
    padding-right: 15px
    +xs
      width: auto
      text-align: center
      padding-right: 0
      margin-bottom: 15px
    &.lazy
      padding-top: 35%
      border-radius: 15px
      +cover
      width: calc(50% - 15px)
      +xs
        width: auto
        padding-top: 50%
  &__center-btn
    max-width: 285px
    width: 100%
    +xs
      max-width: none
  &__more
    .border
      max-width: 285px
      margin-left: auto
      margin-right: auto
  &--black
    background-color: $black
  &--noisy-white
    background-color: $white
    +image('noisy-white.png')
    background-size: auto !important
    background-repeat: repeat
  &--noisy
    +image('noisy.png')
    background-color: $black
    background-repeat: repeat
    background-size: auto
  &--download
    &__inner
      +flex(flex-start, normal, row, wrap)
    &__content
      width: 50%
      +flex(center, normal, column)
      +xs
        width: 100%
    &__img
      width: 50%
      +flex(center, normal, column)
      +xs
        width: 100%
    &__title, &__subttl
      margin-bottom: 20px
    &__btn
      .border
        display: inline-block
        +xs
          display: block

    
  
.section-img
  position: absolute
  z-index: 0
  pointer-events: none
  &.is-left
    left: 0
  &.is-bottom
    bottom: 0
  &.is-bottom-100
    bottom: 10%
  &.is-right
    right: 0
    text-align: right
    img
      display: inline-block !important
  &.is-top-center
    top: 50%
    // transform: translate(0, -50%)
  &.is-top
    top: 0
  &.is-top-100
    top: 10%
  &.is-top-200
    top: 20%

.section-title
  $this: &
  position: relative
  max-width: 900px
  margin-left: auto
  margin-right: auto  
  &__title
    +image('border-title.png')
    +cover
    background-size: 100%
    +css-lock(10, 50, 320, 1499, padding)
  &__text
    transform: translate(0, -50%)
    +lg
      transform: translate(0, 0)
      // margin-top: -1em
    img
      display: inline-block
      vertical-align: middle
  
  &--light
    #{$this}__title
      +image('border-light.png')
  &--auto
    text-align: center
    #{$this}__title
      display: inline-block
  &--625
    max-width: 625px
  &--sm
    #{$this}__title

.section-text
  h2, h3, h4
    @extend .title
  h2
    @extend .title--h3
  h3
    @extend .title--h4
  h4
    @extend .title--h5
  p, ol, ul
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  ul
    li
      &::before
        content: '\2022'
        display: inline-block
        margin-right: 5px
  ol
    list-style-type: decimal
    margin-left: 1.1em
  a
    color: $blue
    text-decoration: underline


.s-hits
  .section__layer
    +css-lock(20, 135, 320, 1499, height)
    +before
      +css-lock(5, 45, 320, 1499, bottom)
  .section__title
    +css-lock(5, 30, 320, 1499, padding)

.s-vine
  
  .section-img
    &.is-top-100.is-right
      +xl
        img
          max-width: 80%
      +lg
        display: none
    &.is-top-100.is-left
      z-index: 0
      +xl
        img
          max-width: 80%
      +lg
        img
          max-width: 70%
      +md
        display: none

.s-about

.s-features
  background-size: 25%
  +md
    background-size: 25%
  .container
    // position: relative
    // z-index: 1
  .section-img
    &.is-left.is-top-center
      z-index: 0

.s-features-item
  min-height: 80vh  

.s-delivery
  .section__title
    max-width: 565px
    margin-left: auto
    margin-right: auto

.s-gallery
  padding-top: 15%
  padding-bottom: 15%
  +xs
    padding-bottom: 25%
  .container
    position: relative
    z-index: 1
  .section-img
    &.is-top.is-right
      +xl
        img
          max-width: 80%
      +lg
        img
          max-width: 60%
      +sm
        z-index: 0
        img
          max-width: 50%
  .section__title    
    margin-bottom: 70px
    .title
      margin-bottom: 25px

.s-contacts
  .section__title
    max-width: 705px
    margin-left: auto
    margin: auto
    margin-bottom: 30px
  .section-img
    &.is-top-100.is-right
      +md
        display: none

// .s-item
//   &__item
    

.s-menu
  position: relative
  z-index: 2
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.75)
  z-index: 9

.s-features-about
  .section__title
    max-width: 690px
    margin-left: auto
    margin-right: auto
  .section-img
    &.is-top-100.is-right
      +lg
        display: none
    &.is-top-100.is-left
      +md
        display: none

.s-history
  &__inner
    +flex(flex-start, normal, row, wrap)
    +xs
      display: block
  &__left
    width: 50%
    position: relative
    +xs
      width: auto
      margin-left: -10px
      margin-right: -10px
      +flex()
  &__right
    width: 50%
    padding-left: 60px
    +md
      padding-left: 15px
    +xs
      width: 100%
      padding-left: 0
  &__text-block
    margin-bottom: 40px
    max-width: 550px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
    &:nth-child(2)
      margin-left: percentage(1/12)
      +md
        margin-left: 0
  &__img
    +cover
    padding-top: 65%
    border-radius: 15px
    width: 100%
    +lg
      width: 60%
    +xs
      width: calc(50% - 20px)
      margin-left: 10px
      margin-right: 10px
      padding-top: 40%
      margin-bottom: 10px
  &__img-absolute
    position: absolute
    left: percentage(4/6)
    top: 70%
    z-index: 2
    +lg
      left: 40%
      top: 40%
    +xs
      position: static
    

.s-zone
  position: relative
  +before
    position: absolute
    width: 100%
    top: 0
    left: 0
    z-index: 0
    background-image: linear-gradient(to bottom, $white, rgba($white, 0))
    height: 70%
  &__block
    width: percentage(9/12)
    +lg
      width: percentage(10/12)
    +md
      width: auto

.s-pay
  +md
    background-size: 20%

.s-services
  +md
    background-size: 40%

.s-contacts-map
  background-repeat: no-repeat
  background-size: 100%
  background-position: 50% 0
  +xl
    background-position: 50% -50%
  +lg
    background-position: 50% 20vw
  +md
    background-size: 100%
    background-position: 50% 25vw
  +r(680)
    background-position: 50% 35vw
  +xs
    background-position: 50% 60vw
  +xss
    background-position: 50% 70vw
  +r(400)
    background-position: 50% 80vw
  +r(374)
    background-position: 50% 100vw !important
  &__contacts
    max-width: 1170px
    margin-left: auto
    margin-right: auto


