.slider
  &__wrap
    position: relative
    *
      box-sizing: border-box
    .swiper-slide
      height: auto
  &__tabs-nav
    margin-bottom: 75px
    +xl
      margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
    +xs
      margin-bottom: 10px
  &__tabs-item
    max-height: 0
    overflow: hidden
    opacity: 0
    // transform: translate(0, 30px)
    +tr(opacity .5s, transform .5s)
    &.is-active
      max-height: none
      overflow: visible
      opacity: 1
      // transform: translate(0, 0)
  &__btns
    position: absolute
    z-index: 1
    top: 50%
    transform: translate(0, -50%)
    left: 0
    right: 0
  &__pagination
    text-align: center
    padding-top: 45px
    +xs
      padding-top: 20px
    .swiper-pagination-bullet
      width: 14px
      height: 14px
      opacity: 1
      background-color: $gray
      &.swiper-pagination-bullet-active
        background-color: $accent

  &--hero
    &__wrap
      .slider
        &__prev, &__next
          +xs
            display: none
        &__prev
          left: 40px
          +r(1600)
            left: 0
        &__next
          right: 40px
          +r(1600)
            right: 0
        &__pagination
          position: absolute
          width: 100%
          z-index: 1
          left: 0
          bottom: 10%
          padding: 0 !important
  &--items
    &__wrap
      margin-left: auto
      margin-right: auto
      padding-left: 80px
      padding-right: 80px
      max-width: 1570px
      +lg
        padding-left: 55px
        padding-right: 55px
      +xs
        padding-left: 40px
        padding-right: 40px
      .slider
        &__prev
          left: 0
        &__next
          right: 0
          
  &--items-tabs    
    &__wrap
      margin-left: 0 !important
      margin-right: 0 !important
      padding-left: 0 !important
      padding-right: 0 !important
      max-width: none !important
      .slider
        &__wrap
          margin-left: auto
          margin-right: auto
          padding-left: 80px
          padding-right: 80px
          max-width: 1570px
          +lg
            padding-left: 55px
            padding-right: 55px
          +xs
            padding-left: 40px
            padding-right: 40px
  &--gallery
    &__wrap
      .gallery-slide
        width: 40%
        position: relative
        left: 8vw
        &:not(.is-visible)
          opacity: 0.3
          pointer-events: none
        +sm
          width: 60%
          left: auto

.prev,
.next
  width: 55px
  height: 55px
  border-radius: 50%
  display: inline-flex
  justify-content: center
  align-items: center
  background-color: rgba($black, .65)
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  color: $white
  z-index: 1
  +tr(color .3s, background-color .3s)
  +before
    +icon-arrow(12, 12, 2, currentColor, 45)
    display: inline-block
    margin-left: 0.3em
  +lg
    width: 45px
    height: 45px
  +xs
    width: 35px
    height: 35px
  &--gray
    background-color: $gray
  &--white
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1)
    background-color: $white
    color: $gray
  &--transp-white
    background-color: rgba($white, .1)


.next
  +before
    +rotate(225)
    margin-left: 0
    margin-right: 0.3em

.slider-nav
  text-align: center
  color: $white
  +light
  &__btn
    background-color: transparent
    display: inline-block
    padding: 8px 30px 10px
    border-radius: 30px
    border: 1px solid transparent
    +tr(border-color .3s, color .3s)
    text-align: center
    &.is-active
      border-color: $accent
    +hover
      @extend .slider-nav__btn.is-active

