.social
  color: $gray-light
  li
    display: inline-block
    vertical-align: middle
    +notlast
      margin-right: 30px
  a
    display: block
  .icon
    font-size: 20px
  .icon-google-plus
    font-size: 1.5em